# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# === Env files ===
.env

# === SQLite ===
*.sqlite3

# === VSCode / IDE / OS files ===
.vscode/
.DS_Store
Thumbs.db

# === Folders exclusions ===
data/
venv/

# === File di script e log ===
*.sh
*.log