# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# === Env files ===
.env

# === SQLite ===
*.sqlite3

# === VSCode / IDE / OS files ===
.vscode/
.DS_Store
Thumbs.db

# === Data folder exclusions ===
/data/*.json
/data/nft_historical_data/*.csv
